<p>Bienvenue sur ta page <%= User.find_by(username: params['name']).username%> !</p>
</br>
</br>
<p>Voici ta super bio :  <%= User.find_by(username: params['name']).bio %></p>
<a href="/">Retour à l'accueil</a>
